<a href="https://colab.research.google.com/github/Categakii/dsc-running-jupyter-locally-lab/blob/master/loops_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

In [ ]:
names=[]

In [ ]:
#student_1........student_50

In [ ]:
for i in range(1,51):
  names.append('student_'+str(i))
print(names)

In [ ]:
random.seed(3)
birth_year=[]
for i in range (50):
  birth_year.append(random.randint(1988,2002))
print(birth_year)

[1991, 1997, 1996, 1990, 1993, 2002, 1997, 1995, 1998, 1997, 1989, 1997, 1988, 2002, 2001, 1995, 1992, 1996, 1991, 1991, 1999, 1995, 1996, 2001, 1996, 1995, 1994, 1998, 2001, 1990, 1991, 1998, 1990, 2001, 2002, 1996, 1994, 1999, 1988, 1998, 2000, 1989, 1990, 2000, 1997, 1988, 1992, 2000, 1988, 2001]

In [ ]:
student_attitude=[]
num=0
while num <50:
  student_attitude.append(random.choice(['Positive','Neutral','Negative']))
  num+=1
print(student_attitude)
print(len(student_attitude))

['Neutral', 'Negative', 'Negative', 'Neutral', 'Negative', 'Neutral', 'Neutral', 'Negative', 'Negative', 'Neutral', 'Positive', 'Neutral', 'Positive', 'Positive', 'Positive', 'Neutral', 'Positive', 'Neutral', 'Negative', 'Neutral', 'Negative', 'Neutral', 'Neutral', 'Negative', 'Neutral', 'Negative', 'Neutral', 'Negative', 'Negative', 'Neutral', 'Negative', 'Positive', 'Neutral', 'Negative', 'Positive', 'Neutral', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Neutral', 'Negative', 'Negative', 'Negative', 'Positive', 'Negative', 'Negative', 'Positive', 'Negative']
50

In [ ]:
student_score=[]
for i in range(50):
  student_score.append(random.randint(0,100))
print(student_score)

[73, 34, 36, 15, 8, 61, 81, 61, 11, 44, 8, 52, 19, 2, 37, 54, 98, 53, 15, 5, 77, 78, 97, 5, 48, 91, 75, 42, 70, 35, 64, 30, 4, 39, 0, 9, 13, 76, 68, 4, 25, 52, 37, 78, 33, 19, 88, 5, 43, 40]